<!-- Add this item to your sidebar navigation -->
<li class="nav-item">
      <a class="nav-link" href="/admin/newsletter">
        <i class="fas fa-envelope-open-text"></i>
        <span>Newsletter Subscribers</span>
      </a>
    </li>